/* 0. Mini SmartPhones ELEJE*/
@media (min-width: 120px) and (max-width: 319px) {

    .Base_szoveg_egesz_ugy{
        display:flex;
        flex-direction: column;
        text-align: center;
       /* border: 3px solid red;*/
    }
    
    .Csomag_cim_ugy{
        color: rgba(47,218,241,.87);
        color:rgba(49,193,245);
        /*31C1F5*/
        font-size: 2.2rem;
        font-weight: 900;
        padding:2%;
       /* border: 3px solid red;*/
    }

    .Csomag_cim_ugy h1{
        font-size: 1.5rem;
    }
    
    .Csomag_ar_ugy{
        font-size: 1.5rem;
        font-weight: 900;
        padding:2%;
    }
    
    .Csomag_leiras_ugy{
        max-width: 100%;
        margin-top: 2%;
        font-size: 4vw;  
        text-align: justify;
        padding:2%;
        padding-bottom: 4%;   
       /*border: 3px solid red;*/
    }
    .Csomag_leiras_ugy p{
        line-height: 1.4rem;
    
    }


}

/* 0. Mini SmartPhones VÉGE*/






/* 1. Most of the Smartphones Mobiles (Portrait) ELEJE */
@media (min-width: 320px) and (max-width: 480px) {
    .Base_szoveg_egesz_ugy{
        display:flex;
        flex-direction: column;
        text-align: center;
    }
    
    .Csomag_cim_ugy{
        color: rgba(47,218,241,.87);
        color:rgba(49,193,245);
        /*31C1F5*/
        font-size: 2.2rem;
        font-weight: 900;
        padding:2%;
    }

    .Csomag_cim_ugy h1{
        font-size: 1.8rem;
      
    }
    
    .Csomag_ar_ugy{
        font-size: 1.6rem;
        font-weight: 900;
        padding:2%;
    }
    .Akcio_ugy{
        color:red;
    }

    .Ered_ugy_ar{
        text-decoration-line: line-through;
    }
   .Csok_ugy_ar{
       color:red;
       padding-left: 2%;
   }
    
    .Csomag_leiras_ugy{
        max-width: 100%;
        margin-top: 2%;
        font-size: 4vw;  
        text-align: justify;
        padding:2%;
        padding-bottom: 4%;   
       /*border: 3px solid red;*/
    }
    .Csomag_leiras_ugy p{
        line-height: 1.4rem;
    
    }
    
    
  }

/* 1. Most of the Smartphones Mobiles (Portrait)  VÉGE*/


/* 2. Low Resolution Tablets, Mobiles (Landscape) ELEJE*/
@media (min-width: 481px) and (max-width: 767px) {
    .Base_szoveg_egesz_ugy{
        display:flex;
        flex-direction: column;
        text-align: center;
    }
    
    .Csomag_cim_ugy{
        color: rgba(47,218,241,.87);
        color:rgba(49,193,245);
        font-size: 2.2rem;
        font-weight: 900;
        padding:2%;
    }
    
    .Csomag_ar_ugy{
        font-size: 2rem;
        font-weight: 900;
        padding:2%;
    }
    .Akcio_ugy{
        color:red;
    }

    .Ered_ugy_ar{
        text-decoration-line: line-through;
    }
   .Csok_ugy_ar{
       color:red;
       padding-left: 2%;
   }
    
    .Csomag_leiras_ugy{
        max-width: 100%;
        margin-top: 2%;
        font-size: 4vw;  
        text-align: justify;
        padding:2%;
        padding-bottom: 4%;   
      
    }
    .Csomag_leiras_ugy p{
        line-height: 2.2rem;
    
    }
  

}


/* 2. Low Resolution Tablets, Mobiles (Landscape) VÉGE*/



/* 3. Device = Tablets, Ipads (portrait) ELEJE*/
@media (min-width: 768px) and (max-width: 1024px) {
  
    .Base_szoveg_egesz_ugy{
        display:flex;
        flex-direction: column;
        text-align: center;
    }
    
    .Csomag_cim_ugy{
        color: rgba(47,218,241,.87);
        color:rgba(49,193,245);
        font-size: 2.8rem;
        font-weight: 900;
        padding:2%;
    }
    
    .Csomag_ar_ugy{
        font-size: 2rem;
        font-weight: 900;
        padding:2%;
    }
    .Akcio_ugy{
        color:red;
    }

    .Ered_ugy_ar{
        text-decoration-line: line-through;
    }
   .Csok_ugy_ar{
       color:red;
       padding-left: 2%;
   }
    
    .Csomag_leiras_ugy{
        max-width: 100%;
        margin-top: 2%;
        font-size: 4.2vw; 
        text-align: justify;
        padding:2%;
        padding-bottom: 4%;   
      
    }
    /*
    .Csomag_leiras_ugy p{
        line-height: 2.6rem;
        }
        */
    .Szoveg_ugy{
        letter-spacing: -2.5px;
        line-height: 3rem;
       /* color:orange;*/
    }
  
}

/* 3. Device = Tablets, Ipads (portrait) VÉGE*/

/* 4. Tablets, Ipads (landscape) ELEJE*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .Base_szoveg_egesz_ugy{
        display:flex;
        flex-direction: column;
        text-align: center;
         /*border: 3px dashed red;*/
        max-height: 19rem; 
    }
    
    .Csomag_cim_ugy{
        display:flex;
        flex-direction: row;
        justify-content: center;
        color: rgba(47,218,241,.87);
        color:rgba(49,193,245);
        font-size: 2rem;
        font-weight: 900;
        padding:2%;    
    }

    .Csomag_cim_ugy h1{
        padding-top: 1rem;
        border: 2px solid rgba(47,218,241,.87);
        border-radius: 3%;
        width:17rem;
        height: 4rem;
    }
    
    .Csomag_ar_ugy{
        display:flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 900;
        padding-left:2%;
        padding-right:2%;
        padding-top: 1rem;
      /*  border: 3px solid purple;*/
        min-height: 5rem;
        max-height:5rem;
    }
    .Akcio_ugy{
        color:red;
    }

    .Ered_ugy_ar{
        text-decoration-line: line-through;
    }
   .Csok_ugy_ar{
       color:red;
       padding-left: 2%;
   }
    
    .Csomag_leiras_ugy{
        max-width: 100%;
        margin-top: 2%;
        font-size: 0.9vw; 
        text-align: justify;
        padding-left:2%;
        padding-right:2%;
        /*padding-bottom: 4%;   */
       /* border: 3px solid yellow;*/
        min-height: 6rem;
        max-height: 6rem;
    }
    .Csomag_leiras_ugy p{
        line-height: 1.5rem;
       /* border: 3px solid yellow; */
        min-height: 6rem;
        max-height: 6rem;       
    }

 
}
/* 4. Tablets, Ipads (landscape) VÉGE*/


/* 5. Laptops, Desktops ELEJE  */
@media (min-width: 1025px) and (max-width: 1280px) {

    .Base_szoveg_egesz_ugy {
        display:flex;
        flex-direction: column;
        text-align: center;  
        /*border: 3px dashed red;*/
        max-height: 19rem;      
    }   

    .Csomag_cim_ugy {
        display:flex;
        flex-direction: row;
        justify-content: center;
        color: rgba(47,218,241,.87);
        color:rgba(49,193,245);
        font-size: 2rem;
        font-weight: 900;
        padding:2%;        
    }

    .keret_ugy{
        border-radius: 20px;
        border: 1px solid rgba(47,218,241,.87);
        padding-left:2%;
        padding-right: 2%;
        padding-bottom: 1%;
    }

    .Csomag_cim_ugy h1 {      
        padding-top: 1rem;
        border: 2px solid rgba(47,218,241,.87);
        border-radius: 3%;
        width:17rem;
        height: 4rem;
    }   

    .Csomag_ar_ugy {
        display:flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 900;
        padding-left:2%;
        padding-right:2%;
        padding-top: 1rem;
      /*  border: 3px solid yellow;*/
        min-height: 5rem;
        max-height: 5rem;
      /*  min-width: 25rem;
        max-width: 25rem;*/
    }    

    .Csomag_leiras_ugy {
        max-width: 100%;
       /* margin-top: 2%;*/
        font-size: 1.2vw; 
        text-align: justify;    
       /*padding-bottom: 4%;*/
        /*border: 3px solid red;*/
        min-height: 6rem;
        max-height: 10rem;
        line-height: 1.6rem;
    }  

    .Szoveg_ugy {
       /* letter-spacing: -1.5px;
        line-height: 3rem;*/
      /*  width:25rem;*/
      /*  border: 3px solid yellow;*/
        min-height: 8rem;
        max-height: 8rem;
    }

     .Akcio_ugy {
        color:red;
    }

    .Ered_ugy_ar{
        text-decoration-line: line-through;
    }

   .Csok_ugy_ar {
       color:red;
       padding-left: 2%;
   }  
}
/* 5. Laptops, Desktops VÉGE  */


/* 6. Higher resolution desktops ELEJE*/

@media (min-width: 1281px) and (max-width:1599px) {
  
    .Base_szoveg_egesz_ugy {
        display:flex;
        flex-direction: column;
        text-align: center;  
        /*border: 3px dashed red;*/
        max-height: 19rem;      
    }   

    .Csomag_cim_ugy {
        display:flex;
        flex-direction: row;
        justify-content: center;
        color: rgba(47,218,241,.87);
        color:rgba(49,193,245);
        font-size: 2rem;
        font-weight: 900;
        padding:2%;        
    }

    .keret_ugy{
        border-radius: 20px;
        border: 1px solid rgba(47,218,241,.87);
        padding-left:2%;
        padding-right: 2%;
        padding-bottom: 1%;
    }

    .Csomag_cim_ugy h1 {      
        padding-top: 1rem;
        border: 2px solid rgba(47,218,241,.87);
        border-radius: 3%;
        width:17rem;
        height: 4rem;
    }   

    .Csomag_ar_ugy {
        display:flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 900;
        padding-left:2%;
        padding-right:2%;
        padding-top: 1rem;
      /*  border: 3px solid yellow;*/
        min-height: 5rem;
        max-height: 5rem;
      /*  min-width: 25rem;
        max-width: 25rem;*/
    }    

    .Csomag_leiras_ugy {
        max-width: 100%;
       /* margin-top: 2%;*/
        font-size: 1.2vw; 
        text-align: justify;    
       /*padding-bottom: 4%;*/
        /*border: 3px solid red;*/
        min-height: 6rem;
        max-height: 10rem;
        line-height: 1.6rem;
    }  

    .Szoveg_ugy {
       /* letter-spacing: -1.5px;
        line-height: 3rem;*/
      /*  width:25rem;*/
      /*  border: 3px solid yellow;*/
        min-height: 8rem;
        max-height: 8rem;
    }

     .Akcio_ugy {
        color:red;
    }

    .Ered_ugy_ar{
        text-decoration-line: line-through;
    }

   .Csok_ugy_ar {
       color:red;
       padding-left: 2%;
   }  
}

/* 6. Higher resolution desktops VÉGE*/

/* 7. Larger screen ELEJE*/

@media (min-width: 1600px) {
   
    .Base_szoveg_egesz_ugy {
        display:flex;
        flex-direction: column;
        text-align: center;  
        /*border: 3px dashed red;*/
        max-height: 19rem;      
    }   

    .Csomag_cim_ugy {
        display:flex;
        flex-direction: row;
        justify-content: center;
        color: rgba(47,218,241,.87);
        color:rgba(49,193,245);
        font-size: 2rem;
        font-weight: 900;
        padding:2%;        
    }

    .keret_ugy{
        border-radius: 20px;
        border: 1px solid rgba(47,218,241,.87);
        padding-left:2%;
        padding-right: 2%;
        padding-bottom: 1%;
    }

    .Csomag_cim_ugy h1 {      
        padding-top: 1rem;
        border: 2px solid rgba(47,218,241,.87);
        border-radius: 3%;
        width:17rem;
        height: 4rem;
    }   

    .Csomag_ar_ugy {
        display:flex;
        flex-direction: row;
        align-items: center;
        font-size: 2rem;
        font-weight: 900;
        padding-left:2%;
        padding-right:2%;
        padding-top: 1rem;
      /*  border: 3px solid yellow;*/
        min-height: 5rem;
        max-height: 5rem;
      /*  min-width: 25rem;
        max-width: 25rem;*/
    }    

    .Csomag_leiras_ugy {
        max-width: 100%;
       /* margin-top: 2%;*/
        font-size: 1.1vw; 
        text-align: justify;    
       /*padding-bottom: 4%;*/
        /*border: 3px solid red;*/
        min-height: 6rem;
        max-height: 10rem;
        line-height: 2rem;
    }  

    .Szoveg_ugy {
       /* letter-spacing: -1.5px;
        line-height: 3rem;*/
      /*  width:25rem;*/
      /*  border: 3px solid yellow;*/
      min-height: 8rem;
      max-height: 8rem;
    }

     .Akcio_ugy {
        color:red;
    }

    .Ered_ugy_ar{
        text-decoration-line: line-through;
    }

   .Csok_ugy_ar {
       color:red;
       padding-left: 2%;
   }
}

/*7. Larger screen VÉGE*/